<div>
  <div><img src='{{sprites.front_default}}' alt='{{name}}' /></div>
  <div>
    <h2>Name: {{name}}</h2>
    <p>Weight: {{weight}}</p>
    <p>Height: {{height}}</p>
    <p>Abilities</p>
    <ul>
      {{#each abilities}}
        <li>{{ability.name}}</li>
      {{/each}}
    </ul>
  </div>
</div>